.container{
    background-color: aquamarine;
    width: 400px;
    height: 400px;
    
}
.input1{
    margin: 15px;
    padding: 15px;
    hight: 30px;
    font-size: 20px;
}
.input2{
    margin: 15px;
    padding: 15px;
    hight: 30px;
    font-size: 20px;
}
h3{
    margin: 15px;
    padding: 15px;
    hight: 30px;
    font-size: 20px;   
}