.imageSlider {
    background-color: rgb(41, 52, 67);
    width: 400px;
    height: 400px;
    margin-top: 15px;
    padding: 15px;
}
img{
    margin: 15px;
    padding: 15px; 
}
.control{
    background-color: rgb(41, 52, 67);
    width: 400px;
    height: 40px;
    
  
}
